html{
    scroll-behavior: smooth;
}
.topdiv {
    height: 50px;
    width: 100%;
    min-width: 1140px;
    background-color: #000000;
  }
  img.back{
      float: left;
      height: 40px;
      width: 80px;
      margin-left: 20px;
      margin-top: 5px;
  }
  .profile{
      float: left;
      height: 300px;
      width: 300px;
      margin-left: 5px;
      margin-top: 5px;
      margin-bottom: 20px;
      margin-right: 50px;
  }
  h3.back{
      float:left;
      color: antiquewhite;
      margin-left: 15px;
      margin-top: 15px; 
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column2 {
    float: left;
    width: 20%;
    height: 1500px;
    padding: 10px;
  }
  .column1 {
    float: left;
    width: 40%;
    height: 1500px;
    padding: 10px;
  }
  .column2 {
    float: left;
    width: 50%;
    height: 1500px;
    padding: 10px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 310px;
    margin-left: 100px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    padding: 20px 20px;
  }
  .name{
    margin-bottom: 10px;
  }
  .probio{
    margin:5px;
  }
  .biop{
      size: 16px;
  }
  .biotextarea{
     width: 300px;
     height: 50px;;
  }
  hr{
      background-color: red;
  }
  table, th, td {
    border: 1px solid black;
    border-color: red;
    color: blueviolet;
  }
  .propicchoose{
    color: blueviolet;
    margin:5px;
  }