html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 62px;
    bottom: 0px;
    height: inherit;
}

.SearchBar {
    position: absolute;
    top: 13px;
    left: 310px;
}

.SearchBar input {
    height: 30px;
    width: 550px;
}

.button {
    background-color: #0095ff;
    /* Green */
    /* border: none; */
    /* color: white; */
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    /* width: 20; */
    /*  */
    position: relative;
    /* padding: .8em; */
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    font-family: inherit;
    /* font-size: 13px; */
    font-weight: 400;
    line-height: 1.15384615;
    text-decoration: none;
    cursor: pointer;
    border-color: rgba(0, 89, 153, 0);
    box-shadow: 0 0 0 0 rgba(0, 149, 255, 0);
    color: #07C;
}

.button_ask_question {
    background-color: #008CBA;
    color: white;
    border: 2px solid #4CAF50;
}

.w3-myfont {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: white;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 30%;
}

.signin_btn {
    text-align: center;
    float: right;
    width: 80px;
    height: 40px;
    margin: 5px;
    border-radius: 12px;
    text-shadow: #333;
    box-shadow: #9494b4;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.button_login {
    background-color: rgb(71, 79, 194);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button_login:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #D32F2F;
    ;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

.container input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

img.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.SignCancelBtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.signupbtn {
    padding: 14px 20px;
    background-color: rgb(71, 79, 194);
}

.SignCancelBtn,
.signupbtn {
    float: left;
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

input[type=text]:focus,
input[type=password]:focus {
    outline: none;
}

.container input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .SignCancelBtn,
    .signupbtn {
        width: 100%;
    }
}